config/*/config/STORES
!config/single_node_cluster/config/STORES
classes
dist
*.iml
*.ipr
*.iws
*~
*#
.#*
test-output
node.id
rebalancing.slave.list
server.state
.version
.temp
.idea
data/
META-INF/MANIFEST.MF
gc.log
voldsys$_*
.project
.settings
.pydevproject
.gradle
build
lib
.project
.classpath
*.class
