<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:og="http://ogp.me/ns#">
  <head>
    <title>{{ page.title }}</title>
    <link rel='stylesheet' href='styles.css' type='text/css'>
    <link rel="icon" type="image/png" href="images/voldemort_logo.png">
    <meta name="keywords" content="Project Voldemort, Voldemort, key-value storage, distributed storage, Amazon Dynamo, persistence, scalability">
    <meta name="description" content="A distributed database.">
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8'>
    
    <meta property="og:title" value="Project Voldemort" />
    <meta property="og:image" value="images/voldemort_logo.png" />
    <meta property="og:description" value="A distributed database." />
    <meta property="og:site_name" value="sna-projects" />
    <meta property="og:type" value="website" />
  </head>
  <body>
    <div>
      <div id="header" style="overflow: hidden">
        <div style='float: left; margin-right: 10px'>
          <img src='images/voldemort_logo.png'></img>
        </div>
        <div>
          <div class="title">Project Voldemort</div>
          <div class="subtitle">A distributed database.</div>
          <!--div class="projects"><a href="http://sna-projects.com/zoie" title="Real-time search indexing.">zoie</a> &middot;
            <a href="http://sna-projects.com/bobo" title="Fast faceted search with Lucene.">bobo</a> &middot;
            <a href="http://sna-projects.com/cleo" title="Flexible, partial, out-of-order and real-time typeahead search.">cleo</a> &middot;
            <a href="http://sna-projects.com/decomposer" title="Massive matrix decompositions.">decomposer</a> &middot;
            <a href="http://sna-projects.com/norbert" title="Partitioned routing and cluster management.">norbert</a> &middot;
            <a href="http://www.project-voldemort.com" title="A distributed database.">voldemort</a> &middot;
            <a href="http://incubator.apache.org/kafka" title="A high-throughput distributed messaging system.">kafka</a> &middot;
            <a href="http://sna-projects.com/kamikaze" title="Doc set compression.">kamikaze</a> &middot;
            <a href="http://sna-projects.com/krati" title="A persistent high-performance data store.">krati</a> &middot;
            <a href="http://sna-projects.com/sensei" title="A distributed, elastic, realtime, searchable database.">sensei</a> &middot;
            <a href="http://sna-projects.com/azkaban" title="Simple hadoop workflow.">azkaban</a> &middot;
            <a href="http://sna-projects.com/datafu" title="UDFs for working with Pig">datafu</a> &middot;
            <a href="http://sna-projects.com/sna" title="Search, Network, Analytics">sna</a> &middot;
            <a href="http://sna-projects.com/blog" title="Our Blog">blog</a>
          </div-->
        </div>
      </div>
      <div class="lsidebar">
        <ul>
          <li><a href="quickstart.html">Quickstart</a></li>
          <li><a href="design.html">Design</a></li>
          <li><a href="http://github.com/voldemort/voldemort/tree/master">Source</a></li>
          <li><a href="http://groups.google.com/group/project-voldemort">Mailing list</a></li>
          <li><a href="http://code.google.com/p/project-voldemort/downloads/list">Download Latest</a></li>
          <li><a href="https://github.com/voldemort/voldemort/downloads">Download Previous Releases</a></li>
          <li><a href="http://test.project-voldemort.com:8080/job/voldemort-master">Snapshot build</a></li>
          <li><a href="configuration.html">Configuration</a></li>
          <li><a href="build-and-push.html">Build and Push</a></li>
          <li><a href="avro-schema-evolution.html">Avro Schema Evolution</a></li>
          <li><a href="javadoc/all">Javadoc</a></li>
          <li><a href="developer.html">Developer Info</a></li>
          <li><a href="http://wiki.github.com/voldemort/voldemort/fun-projects">Fun Projects</a></li>
          <li><a href="performance.html">Performance</a></li>
          <li><a href="https://github.com/voldemort/voldemort/issues">Bugs</a></li>
          <li><a href="http://wiki.github.com/voldemort/voldemort">Wiki</a></li>
        </ul>
      </div>
    <div class='content'>
{{ content }}
    </div>
  </div>
  <div class="forkme">
    <a href="https://github.com/voldemort/voldemort">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
    </a>
  </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37883914-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
