Makefile
Makefile.in
core
.deps
.libs
*.o
*.lo
*.la
*_test
install-sh
libtool
ltmain.sh
missing
config.guess
autom4te.cache
aclocal.m4
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
*~
stamp-h1
voldemort.pc
compile
test-driver
*.log
*.trs
